:root {
  --red: #FF6643;
  --darker-red: #dd2900;
  --green: #44A22F;
  --darker-green: #307321;
  --yellow: #FFDA43;
  --darker-yellow: #cb9300;
  --beige: #ffeab8;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--darker-red) ;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
  margin-right: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--darker-red);
  border-radius: 12px;
  background-clip: padding-box;
    -webkit-border-radius: 1em;
}

body {
  margin: 0;
  background-color: var(--red);
  overflow-x: hidden;
  overflow-y: overlay;
}

.footer_text {
  color: var(--darker-green);
  font-style: italic;
  font-size: 1em;
  margin: 0;
  padding-bottom: 3px;
}

.footer {
  background-color: var(--yellow);
  justify-content: center;
}