.About_container {
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

p {
    margin-bottom: 20;
    text-align: center;
}

.About_pic {
    flex: 1;
    background-color: var(--yellow);
    color: var(--red);
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.About_text {
    flex: 1;
    background-color: var(--green);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--beige);
    font-size: 25px;
    line-height: 30px;
    display: flex;

}

.About_text_p {
    padding: 10px 10%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}