.About_container {
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

p {
    text-align: center;
}

.About_pic {
    flex: 1;
    background-color: var(--yellow);
    color: var(--red);
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.About_pic_img{
    width: 60%;
}

.About_text {
    flex: 1;
    background-color: var(--green);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--beige);
    font-size: 20px;
    line-height: 30px;
    display: flex;
}


.About_text_p {
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

@media (max-width: 640px) {
    .About_container {
        flex-direction: column;
    }

    .About_pic {
        flex-direction: row-reverse;
        justify-content: center;
        padding: 0;
    }

    .About_pic_img{
        width: 50%;
        margin: 0.5em;
    }

    .About_text{
        font-size: 1.1em;
        line-height: 1.3em;

    }
}