.Selector {
    position: absolute;
    top: 7px;
    right: 0;
    transform: translateX(35%);
    transition: 0.2s;
    background-color: var(--darker-red);
    border-radius: 30px;
    padding: 0 7px;
    display: flex;
    overflow: hidden;
}

.fr_first{
    flex-direction: row;
}

.en_first{
    flex-direction: row-reverse;
}

.Selector:hover {
    transform: translateX(-20%);
}

.Selector_langue {
    color: var(--red);
    padding: 3px;
    padding-bottom: 5px;
}

.Selector_selected {
    color: var(--beige);
    padding-right: 10px;
}