.Why {
    display: flex;
    flex-direction: row;
}

.Why_stat {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--beige);
    align-items: center;
    justify-content: center;
    text-align: left;
}

.Why_stat_def {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--beige);
    font-size: 1.1em;
}

.Why_stat_figures {
    display: flex;
    flex-direction: row;
}

.Why_stat_number {
    font-family: 'Playfair Display', serif;
    color: var(--darker-red);
    font-size: 3em;
    margin: 0;
    flex: 1;
}

.Why_stat_text {
    margin: 1em;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--beige);
}

.Why_head {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Why_head_title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 900;
    color: var(--yellow);
}

.Why_head_phrase {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--beige);
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    padding: 0 20%;
}

@media (max-width: 640px) {
    .Why {
        flex-direction: column-reverse;
    }

    .Why_head_title {
        margin: 0.5em;
    }

    .Why_head_phrase {
        padding: 0 5%;
        margin:0;
        font-size: 1.2em;
        line-height: 1.2em;
    }

    .Why_stat{
        display: flex;
        flex-direction: column-reverse;
    }

    .Why_stat_figures{
        margin-top: 5%;
        flex-direction: column;
        padding: 0 5%;
    }

    .Why_stat_number{
        line-height: 1em;
    }

    .Why_stat_item{
        display: flex;
        flex-direction: row-reverse;
    }

    .Why_stat_text{
        text-align: right;
    }.invert{
        text-align: left;
    }

    .Why_stat_def{
        padding-top: 0;
    }
}