.Work {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;

}

.Work_title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 900;
    color: var(--green);
    margin: 10px 0;
}

.Videos {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.Videos_item {
    padding: 20px 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Videos_type {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--red);
    text-align: center;
    margin-bottom: 10px;
}

.Videos_description{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--darker-yellow);
    font-size: 1.1em;
    padding-top: 20px;
}

.Photos {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.Photos_item {
    flex: 1;
    display: flex;
    align-items: flex-end;
    min-width: 25%;
    align-items: center;
    justify-content: center;
}

.Photos_item_pic {
    width: 70%;
}

@media (max-width: 640px) {
    .Videos{
        flex-direction: column;
    }

    .Photos{
        flex-direction: column;
        margin: 0;
    }

    .Photos_item_pic{
        margin: 10px;
    }

    .Work{
        padding-bottom: 20px;
    }
}