:root {
  --red: #FF6643;
  --darker-red: #dd2900;
  --green: #44A22F;
  --darker-green: #307321;
  --yellow: #FFDA43;
  --beige: #ffeab8;
}

body {
  margin: 0;
  background-color: var(--red);
  overflow-x: hidden;
}

.footer_text{
  color: var(--darker-green);
  font-style: italic;
  font-size: 1em;
  margin: 0;
  padding-bottom: 3px;
}

.footer{
  background-color: var(--yellow);
  justify-content: center;
}
