.Selector {
    position: fixed;
    top: 7px;
    right: 0;
    transform: translateX(42%);
    transition: 0.2s;
    background-color: var(--darker-red);
    border-radius: 30px;
    padding: 0 7px;
    display: flex;
    overflow: hidden;
}

.fr_first {
    flex-direction: row;
}

.en_first {
    flex-direction: row-reverse;
}

.Selector:hover {
    transform: translateX(-15%);
}

.Selector_langue {
    color: var(--red);
    padding: 3px;
    padding-bottom: 5px;
}

.Selector_selected {
    color: var(--beige);
    padding-right: 8px;
}

@media (max-width: 640px) {
    .Selector {
        transform: none;
        right: 7px;
        margin-bottom: 10px;
    }

    .Selector:hover {
        transform: none;
    }

    .en_first {
        flex-direction: row;
    }

    .Selector_langue {
        padding-right: 5px;
        padding-left: 5px;
    }
}